
*.pyc
*.readme
*.csproj
*.sln
*.meta


__pycache__/
.vscode/
build/
install/
log/
smallRobot/Packages/
smallRobot/Temp/
smallRobot/ProjectSettings/
smallRobot/UserSettings/
smallRobot/Library/
smallRobot/Logs/
smallRobot/obj/
smallRobot/Build/
smallRobot/Builds/
smallRobot/Assets/Plugins/
